services:
  mysql:
    image: mysql:8.0
    container_name: formeo-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: txlforma
      MYSQL_USER: formeo
      MYSQL_PASSWORD: formeo_pass
      MYSQL_ROOT_PASSWORD: root_pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: formeo-phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "8081:80"
    depends_on:
      - mysql

volumes:
  mysql_data:
